.search_box {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 8px;
  margin-bottom: 10px;

  .select_wrapper {
    width: 200px;
  }

  .input_wrapper {
    margin-top: 4px;
    width: 100%;
  }

  .submit_button_wrapper {
    button {
      padding: 3px 5px;
    }
    .button_child {
      display: flex;
      align-items: center;
      gap: 4px;
    }
  }
}
