.search_box {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 8px;
  margin-bottom: 10px;

  .select_wrapper {
    width: 200px;
    position: relative;

    p {
      position: absolute;
      top: -10px;
      font-size: 12px;
    }
  }

  .input_wrapper {
    margin-top: 4px;
    width: 100%;
  }

  .submit_button_wrapper {
    button {
      padding: 5px 12px;
    }
    .button_child {
      display: flex;
      align-items: center;
      gap: 4px;
    }
  }
}
