@import "@/styles/index.module.scss";

.list_card {
  border-bottom: 1px solid $primary;
  padding: 12px;
  font-size: 14px;
  .commodity_box {
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;

    .commodity_head {
      p {
        margin-bottom: 12px;
        font-weight: 600;
      }
    }

    .commodity_option {
      cursor: pointer;
      &:hover {
        color: $primary;
      }
    }
  }
  .collapse_button {
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    gap: 4px;
    padding: 0;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;

    &:hover > div {
      color: $primary;
    }

    p {
      color: $primary;
    }

    svg {
      width: 16px;
      height: 16px;
      cursor: pointer;
    }
  }

  .detailed_commodity {
    display: flex;
    flex-direction: column;
    gap: 12px;
    overflow: hidden;

    div {
      display: flex;
      justify-content: space-between;

      p + p {
        font-weight: 600;
      }
    }
  }
}
