@import "@/styles/index.module.scss";

.desktop_nav_container {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 20;
  display: none;
  height: 100dvh;

  @include media(">tablet") {
    display: block;

    .desktop_nav_box {
      position: relative;
      height: 100%;
      width: 200px !important;
      border-right: $border solid 1px;
      background-color: $primaryBg;
      padding-top: 48px;

      .banner_box {
        padding: 0 12px;
        display: flex;
        justify-content: center;

        img {
          width: auto;
          height: 30px;
        }
      }

      .navigation {
        margin-top: 54px;
      }
    }
  }
}
