@import "@/styles/index.module.scss";

.input_container_base {
  display: flex;
  flex-direction: column;
  gap: 8px;

  label {
    font-size: 14px;
    cursor: pointer;
    text-transform: capitalize;
    font-weight: 600;
  }

  input {
    height: 37px;
    border: $border solid 1px;
    border-radius: 8px;
    font-size: 14px;
    padding-left: 12px;
    min-width: none;
    &:focus {
      outline: $primary solid 1px;
    }
  }
}

.input_container_sm {
  display: flex;
  flex-direction: column;
  gap: 8px;

  label {
    font-size: 8px;
    cursor: pointer;
    text-transform: capitalize;
  }

  input {
    height: 24px;
    border: $border solid 0.5px;
    border-radius: 8px;
    font-size: 12px;
    padding-left: 8px;
    min-width: none;
    &:focus {
      outline: $primary solid 0.5px;
    }
  }
}
