.popup_backdrop {
  position: fixed;
  inset: 0px;
  top: 0;
  z-index: 100;
  display: flex;
  height: 100dvh;
  width: 100%;
  background-color: rgb(0 0 0 / 0.2);

  .popup_content {
    height: fit-content;
    width: 100%;
    align-self: flex-end;
  }
}
