@import "@/styles/index.module.scss";

.commodity_form {
  padding: 16px;
  max-width: 768px;

  .form_container {
    padding: 20px 15px;
    border-radius: 16px;
    background-color: $primaryBg;
    box-shadow:
      0 1px 3px 0 rgba(0, 0, 0, 0.25),
      0 1px 2px -1px rgba(0, 0, 0, 0.25);

    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .area_box {
    display: flex;
    gap: 10px;
    flex-basis: 1;
  }

  .area_box > div {
    width: 100%;
  }

  .date_box {
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 12px;
    border: none;

    @include media(">tablet") {
      border-bottom: $border solid 1px;
    }
  }

  .submit_button_box {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    border-top: $border solid 1px;
    button {
      width: 80%;
    }

    @include media(">tablet") {
      border: none;
      position: static;
      display: flex;
      margin-top: 10px;
      justify-content: flex-end;
      padding: 0;
      button {
        width: fit-content;
      }
    }
  }
}
